@import '../../sass/utils/variables.scss';

.Input{
    width: 100%;
    height: 45px;

    border-radius: var(--border-radius);
    padding-left: var(--base-padding);

    background-color: var(--ebony);
    color: var(--lavender-blush);

    outline: 0px solid var(--azure-radiance);
    transition: outline 0.1s ease;

    &:focus{
        outline: 3px solid var(--azure-radiance);
    }
}

.label{
    text-align: left;
    margin-left: 3px;
    color: var(--silver);
    text-transform: uppercase;
}

.error{outline: 3px solid var(--error) !important;}