.FriendsList{
    width: 100%;
    height: 100%;
}

.Navbar{
    display: flex;
    align-items: center;

    height: 50px;
    padding: var(--base-padding);
    box-shadow: var(--box-shadow);
}

.Friends-container{
    padding: calc(var(--base-padding));
}