// * COLORS * // 
// BRAND COLORS
$azure-radiance: #0075F2;
$bright-gray: #34354b;

// APP COLORS
$ebony: #0f1a25;
$maastrichtblue: #0e2339;
$downriver: #0c2c4e;
$madison: #0b3460;

// TEXT COLORS
$lavender-blush: #ffeaee;
$silver: #b9bbbe;
$cerulean: #00aff4;