:root {
    --azzure-radiance: #0075f2;
    --charade: #272838;
    --bright-gray: #34354b ;
    --kimberly: #686b96;
    --ghost: #cacbd8; 
    --lavender-blush: #ffeaee; 
    --cinnabar: #e54b4b;
    --chateau-green: #44af69;
    --sun: #fcab10;
}  