@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';
@import "toastr";

.Login{
    @include flex-x-y;

    width: 100vw;
    height: 100vh;
    
    background-color: $ebony;
    overflow-y: hidden;
}

.Login__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: $base-padding;

    width: 100%;
    height: 100%;

    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    background-color: $maastricht-blue;
    
    &-header{
        text-align: center;
    }
}
