@import '../../sass/index.scss';

.Button{
    cursor: pointer;
    
    width: 100%;
    height: 50px;

    border-radius: var(--border-radius);

    background-color: var(--azure-radiance);
    color: var(--lavender-blush);

    font-weight: 600;
}