
button{
    cursor: pointer;

    font-weight: 600;

    height: 40px;
    width: fit-content;
    padding: 0 20px;
    margin: 20px;

    border-radius: 5px;

    background-color: var(--azzure-radiance);
    color: var(--lavender-blush);
}