@import '../../sass/utils/variables.scss';

$colors: (
    'primary': $azzure-radiance,
    'white': $lavender-blush,
    'danger': $cinnabar,
    'success': $chateau-green,
    'transparent': transparent
);

.btn{
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 15px 20px;

    display: flex;
    align-items: center;
}

@each $key, $val in $colors{
    .btn-normal-#{$key} {
        background-color: $val;
        color: var(--lavender-blush);
        svg{margin-left: 5px; font-size: 19px;}
        &:hover{background-color: darken($val, 5%);}
        &:active{background-color: darken($val, 10%);}
    }
}

@each $key, $val in $colors{
    .btn-icon-#{$key} {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 40px;
        aspect-ratio: 1/1;

        font-size: 20px;
        padding: 0;

        background-color: $val;
        color: var(--lavender-blush);
        &:hover{background-color: darken($val, 5%);}
        &:active{background-color: darken($val, 10%);}
    }
}

.btn-normal-white, .btn-icon-white, .btn-normal-transparent, .btn-icon-transparent{
    color: var(--bright-gray) !important;
}
