*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;

    outline: none;
    border: none;
}

body{
    // To make the font look crisp
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
}