.Server-list{
    overflow-y: scroll;
    overflow-x: hidden;

    width: 70px;
    height: fit-content;
    
    display: grid;
    justify-content: center;
    gap: 5px;

    text-align: center;
    padding: 12px;

    background-color: var(--ebony);
}

::-webkit-scrollbar {display: none;}    