.Server-list{
    overflow-y: scroll;
    overflow-x: hidden;

    width: 70px;
    height: 100vh;

    text-align: center;
    & > *{margin: auto;}

    padding: var(--base-margin) 0px;
    background-color: var(--ebony);
}

.separator{
    width: 40%;
    height: 2px;

    border-radius: 5px;

    background-color: var(--madison);
    margin: 10px auto;
}

.servers > *{
    margin: auto;
    margin-bottom: 10px;
}

::-webkit-scrollbar {display: none;}    