.Server-list-wrapper{
    position: absolute;
    top: 0;
    left: 0;

    width: 70px;
    height: 100%;
    background-color: var(--ebony);
}

.Server-list{
    overflow-y: scroll;
    overflow-x: hidden;

    position: fixed;
    top: 0;
    left: 0;

    width: 70px;
    height: fit-content;
    max-height: 100%;
    
    display: grid;
    justify-content: center;
    gap: 5px;

    text-align: center;
    padding: 12px;
}

::-webkit-scrollbar {display: none;}    