.FriendsList {
    width: 100%;
    height: 100%;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: var(--base-padding);
    box-shadow: var(--box-shadow);

    div {
        display: flex;
        align-items: center;
    }
}

.Friends-container {
    overflow-y: scroll;
    padding: calc(var(--base-padding));

    height: 100%;
    padding-bottom: 60px;
}

.Loading {
    position: relative;
    margin-bottom: 5px;

    :nth-child(2) {
        position: absolute;
        top: 50%;
        left: 5%;
        translate: 0% -50%;
    }

    :nth-child(3) {
        position: absolute;
        left: 17%;
        top: 50%;
        translate: 0% -50%;

        width: 20%;
    }
}