@import url('https://fonts.googleapis.com/css?family=Poppins:400;600');
@import '../utils/variables.scss';

html {font-size: 100%;} /*16px*/

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

body {
  color: $lavender-blush;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.subtitle{
  color: $silver;
}

a{
  color: $cerulean;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}